/*
--royal-blue-dark: #03256c;
--blue-ncs: #0090c1;
--pacific-blue: #38aecc;
--fire-engine-red: #d50b26;
--ivory: #f6f7eb;
*/
*, *:before, *:after {
    box-sizing: border-box;
  }

body {
    margin: 0;
}

hr {
    margin: 0;
}

/* --- flex css --- */

.page-container {
    background-color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/* --- Container Styling --- */

#hero-container {
    background-image: url("img/hero_image.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh
}

.navbar-container {
    height: 10vh;
}

.hero-text-container {
    height: 70vh
}

.text-container {
    margin: auto 3.5rem;
}

.card {
    width: 15rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.contact-form-container {
    background-color: #38aecc;
}

.contact-textarea-container {
    margin: 0.5rem;
}

/* --- Text Styling --- */

p {
    font-family: 'Calibri', sans-serif;
    color: #555555;
}

.text-container {
    font-size: 1.2rem;
    font-weight: 300;
}

.card-text {
    padding: 0 0.5rem;
    margin: 0;
    font-size: 0.9rem;
}

.white-text {
    color: #fff !important;
}

/* --- Header Styling --- */

.section-header,
.subheader,
.card-header {
    color: #38aecc;
    text-transform: uppercase;
    font-family: 'Calibri', sans-serif;
}

.section-header {
    margin: 1rem;
    font-size: 2.5rem;
}

.card-header {
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}

/* --- Img Styling --- */

.img-medium-container {
    height: 70%;
}

.img-medium {
    max-width: 100%;
    object-fit: cover;
}

.card-img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: contain;
}

/* --- Form Styling --- */

.contact-form {
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
    width: 80%
}

.contact-text-input,
.contact-textarea-input {
    color: #555555;
    border: none;
    border-radius: 10px;
    background-color: #ffffffaa;
}

.contact-text-input {
    padding: 1.25rem;
    margin: 0.5rem;
}

.contact-text-input:hover,
.contact-textarea-input:hover {
    background-color: #ffffffcc;
    transition: 200ms ease-in-out;
}

.contact-text-input:focus,
.contact-textarea-input:focus {
    background-color: #fff;
    transition: 200ms ease-in-out;
    outline: none;
}

.contact-textarea-input {
    height: 8rem;
    padding: 1.25rem;
    width: 100%;
    resize: vertical;
}

.contact-submit-button {
    height: 3rem;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    width: 50%
}