/*
--royal-blue-dark: #03256c;
--blue-ncs: #0090c1;
--pacific-blue: #38aecc;
--fire-engine-red: #d50b26;
--ivory: #f6f7eb;
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.hr-teal {
    width: 80%;
    border: 0;
    height: 0.75px;
    background-image: linear-gradient(to right, #38aecc30, #38aecc, #38aecc30);
    margin: auto;
}

/* --- flex css --- */

.page-container {
    background-color: #fff;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.column-small {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.column-a {
    align-items: flex-start;
}

/* --- Container Styling --- */

#hero-container {
    background-image: url("img/hero_image.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh
}

.hero-right {
    background-color: #38aecccc;
    border-top-left-radius: 20rem;
}

.navbar-container {
    height: 10vh;
}

.hero-text-container {
    height: 70vh
}

.text-container {
    margin: 2.5rem 4rem;
}

.card {
    width: 15rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.card-header-container {
    text-align: center;
    margin: 0.3rem auto
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.contact-form-container {
    background-color: #38aecc;
}

.contact-textarea-container {
    margin: 0.5rem;
}

.footer-container {
    background-color: #0090c1ff;
    height: 18rem;
}

.map-container {
    padding: 1rem;
}

iframe {
    border-radius: 2px;
}

/* --- Text Styling --- */

p {
    font-family: 'Calibri', sans-serif;
    color: #555555;
}

.text-container {
    font-size: 1.2rem;
    font-weight: 300;
}

.card-text {
    padding: 0 0.5rem;
    margin: 0;
    font-size: 0.9rem;
}

.white-text {
    color: #fff !important;
}

.text-right {
    text-align: end;
}

.footer-text {
    font-family: 'Calibri', sans-serif;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.card-a-header, .footer-a {
    position: relative;
}

a.card-a-header:after, a.footer-a:after {
    display: block;
    width: 0;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transition: 500ms ease;
    transition: 500ms ease;
}

a.card-a-header:after {
    border-bottom: 1.5px solid #38aecc;
}

a.footer-a:after {
    border-bottom: 1px solid #ffffff;
}

a.footer-a:hover:after, a.card-a-header:hover:after {
    width: 100%;
}

.quote {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.7rem;
    text-align: center;
}

.modal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
}

.modal-text p {
    font-size: 0.875rem;
    color: #555555;
    line-height: 1.5;
}

/* --- Header Styling --- */

.section-header, .subheader, .card-a-header, .modal-header {
    color: #38aecc;
    text-transform: uppercase;
    font-family: 'Calibri', sans-serif;
}

.section-header {
    margin: 1rem;
    font-size: 2.5rem;
}

.card-a-header {
    text-align: center;
    font-size: 1.4rem;
    margin: 0.5rem auto;
}

.hero-header {
    margin-left: 20%;
    margin-bottom: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    font-weight: normal;
}

.hero-subheader {
    margin-left: 25%;
    margin-top: 0;
    font-family: 'Cambria', serif;
    font-style: italic;
    font-size: 1.5rem;
}

/* --- Img Styling --- */

.img-medium-container {
    max-height: 25rem;
}

.img-medium {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
}

.card-img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: contain;
}

/* --- Form Styling --- */

.contact-form {
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.contact-text-input, .contact-textarea-input {
    color: #555555;
    border: none;
    border-radius: 10px;
    background-color: #ffffffaa;
    font-family: 'Calibri', sans-serif;
}

.contact-text-input {
    height: 3.5rem;
    padding-left: 1.25rem;
    margin: 0.5rem;
}

.contact-text-input:hover, .contact-textarea-input:hover {
    background-color: #ffffffcc;
    transition: 200ms ease-in-out;
}

.contact-text-input:focus, .contact-textarea-input:focus {
    background-color: #fff;
    transition: 200ms ease-in-out;
    outline: none;
}

.contact-text-input:valid {
    background: ;
    transition: 200ms ease-in-out;
}

.contact-textarea-input {
    height: 8rem;
    padding: 1.25rem;
    width: 100%;
    resize: vertical;
}

.contact-submit-btn {
    height: 3.5rem;
    margin: 0.5rem;
    border: 1px solid #ffffff00;
    border-radius: 10px;
    width: 50%;
    background-color: #ffffff;
    font-family: 'Calibri', sans-serif;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.contact-submit-btn:hover {
    background: #ffffff77;
    border: 1px solid #ffffff;
    transition: 300ms ease-in-out;
}

/* --- Modal Styling --- */

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 0.64s ease-in-out;
}

.modal-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    overflow: auto;
    transform: rotate(32deg);
    transition: 0.64s ease-in-out;
}

.modal-photo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.modal-photo img {
    width: auto;
    height: 100%;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal:target .modal-inner {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}

.modal-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}